* {
    font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gradient-bg {
    --background: linear-gradient(to right, #c7ecee 50%, #dff9fb 50%);
}

.title {
    margin: 2px;
}

.player-text {
    font-size: 45px;
}

.number {
    font-size: 60px;
}

.dice {
    background-color: white;
    margin-bottom: auto;
    margin-top: 50px;
}

.number-right {
    right: 2000px;
    margin-right: 22px
}

.number-left, .number-right {
    color: lightcoral;
    font-size: 1.4em;
    font-weight: 100;
    margin-top: 5px;
}




